@charset "utf-8";

body {
  font-family: 'notokr-regular', 'Noto Sans CJK kR', 'Noto Sans KR', 'Arita-buri-SemiBold', '맑은 고딕';
}

.a11y-hidden {
  font-size: 0px;
  text-indent: -9999px;
}

.red {
  color: red;
}

.green {
  color: #1db875;
}

/* wrapper */
header .logo-area,
header .gnb-area .gnb,
header .gnb-area .gnb .sub-menu .wrap,
.weekly-best .wrap,
.md-pick,
.tea-ware-shop,
.today-price,
.custom-recommendation,
.saleUp,
.shop,
.sns,
.notice .wrap,
footer .wrap {
  max-width: 1400px;
  margin: 0 auto;
}

/* arrow-area 공통 */

.arrow-area {
  position: absolute;
  width: 70px;
  height: 21px;
  top: 80px;
  right: 30px;
  cursor: pointer;
}

.arrow-area .prev {
  float: left;
  width: 12px;
  height: 21px;
  background: url('../img/review/arr_l_12x21.png') no-repeat center;
  filter: invert(80%);
}

.arrow-area .next {
  float: right;
  width: 12px;
  height: 21px;
  background: url('../img/review/arr_r_12x21.png') no-repeat center;
}

/* 나뭇잎 공통 */

.section-title {
  font-size: 42px;
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
  letter-spacing: -2px;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 10px;
  background: url('../img/tit_bg.png') no-repeat center;
  width: 31px;
  height: 31px;
  margin-left: 10px;
}

/* ------start - header------ */

header {
  width: 100%;
  z-index: 10;
}

header .logo-area {
  position: relative;
  height: 90px;
  background: #fff;
  text-align: center;
}

header .logo-area .logo a {
  display: inline-block;
  height: 40px;
  margin-top: 24px;
}

header .logo-area .tnb {
  position: absolute;
  top: 20%;
  right: 10px;
}

header .logo-area .tnb .util li {
  display: inline-block;
  font-size: 13px;
  color: #636363;
  letter-spacing: -0.3px;
}

header .logo-area .tnb .util li+li {
  margin-left: 27px;
}

header .logo-area .tnb .util .language select {
  border: none;
  background: transparent;
  height: 25px;
  font-size: 13px;
  appearance: none;
  margin-right: 10px;
  color: #636363;
}

header .logo-area .tnb .util .language select:focus {
  outline: none;
}

header .gnb-area {
  position: relative;
  width: 100%;
  background: #67625d;
  z-index: 10;
}

header .gnb-area .gnb {
  height: 63px;
  position: relative;
}

header .gnb-area .gnb h3 {
  float: left;
  margin: 15px 0 0 40px;
  width: 90px;
  height: 32px;
  display: none;
}

header .gnb-area .gnb h3 a {
  display: inline-block;
  background: url('../img/header/logo_m.png') no-repeat center;
  background-size: cover;
  width: 90px;
  height: 32px;
}

header .gnb-area .gnb .gnb-list {
  text-align: center;
}

header .gnb-area .gnb .gnb-list>li {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 140px;
  font-size: 15px;
}

header .gnb-area .gnb .gnb-list>li:last-child {
  margin-left: 25px;
}

header .gnb-area .gnb .gnb-list>li>a {
  color: #fff;
  line-height: 63px;
}

header .gnb-area .gnb .gnb-list>li:hover a {
  color: #daf100;
  position: relative;
}

header .gnb-area .gnb .gnb-list>li>a:after {
  content: '';
  transition: all 0.5s;
  width: 0;
}

header .gnb-area .gnb .gnb-list>li:hover>a:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 2px;
  background: #daf100;
}


/* sub-menu */

header .gnb-area .gnb:hover .sub-menu {
  display: inline-block;
}

header .gnb-area .gnb .sub-menu {
  display: none;
  width: 100vw;
  height: 370px;
  margin-left: calc(-50vw + 50%);
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

header .gnb-area .gnb .sub-menu .wrap {
  height: inherit;
  position: relative;
}

header .gnb-area .gnb .sub-menu .wrap .ad-area {
  position: absolute;
  top: 15%;
  left: 0;
}

header .gnb-area .gnb .sub-menu .wrap .ad-area .title {
  font-size: 20px;
  font-weight: 500;
}

header .gnb-area .gnb .sub-menu .wrap .ad-area .text {
  font-size: 17px;
}

header .gnb-area .gnb .sub-menu .wrap .sub-menu-area {
  box-sizing: border-box;
  width: 1280px;
  height: inherit;
  margin: 0 auto;
  padding-left: 265px;
}

header .gnb-area .gnb .sub-menu .wrap ul {
  float: left;
  width: 140px;
  margin-right: 5px;
  line-height: 40px;
  padding-top: 20px;
  color: #8b8b8b;
  font-size: 14px;
}

header .gnb-area .gnb .sub-menu .wrap ul:last-child {
  margin-left: 25px;
}

header .gnb-area .gnb .sub-menu .wrap ul li a {
  width: inherit;
  cursor: pointer;
  display: block;
}

header .gnb-area .gnb .sub-menu .wrap ul li a:hover {
  color: #a1af1b;
}


/* add-menu */

header .gnb-area .gnb .addmenu-list {
  height: 63px;
  position: absolute;
  top: 0;
  right: 25px;
  cursor: pointer;
}

header .gnb-area .addmenu-list li {
  height: inherit;
  width: 35px;
  display: inline-block;
}

header .gnb-area .addmenu-list .btn-search button {
  border: none;
  background: none;
  position: relative;
}

header .gnb-area .addmenu-list .btn-search::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url('../img/header/ico_search_off.png') no-repeat center;
}

header .gnb-area .addmenu-list .cart,
header .gnb-area .addmenu-list .add {
  position: relative;
}

header .gnb-area .addmenu-list .cart a::after,
header .gnb-area .addmenu-list .add::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url('../img/header/ico_gnbBucket_off.png') no-repeat center;
}

header .gnb-area .addmenu-list .add::after {
  background: url('../img/header/ico_gnbMore_off.png') no-repeat center;
}

/* 해결하지 못한 영역: hover 시 이미지에 filter로 이미지색 변경하기
 header .gnb-area .gnb .addmenu-list>li:hover::after {
} */

header .gnb-area .addmenu-list li:last-child {
  position: relative;
}

header .gnb-area .addmenu-list li:last-child:hover .add-menu {
  visibility: visible;
}

header .gnb-area .addmenu-list li .add-menu {
  visibility: hidden;
  position: absolute;
  box-sizing: border-box;
  top: 63px;
  right: -15px;
  width: 230px;
  padding: 30px 20px;
  border: 0.1px solid #ccc;
  text-align: left;
  background: #fff;
  font-size: 14px;
  color: #555;
}

header .gnb-area .addmenu-list li .add-menu li {
  width: auto;
  display: block;
  height: 30px;
}

header .gnb-area .addmenu-list li .add-menu li:hover {
  color: #6c801a;
}

header .gnb-area .addmenu-list li .add-menu li+li {
  margin-top: 10px;
}


/* ------ start - visual ------ */

.visual {
  height: 640px;
  border-bottom: 1px solid #d3d3d3;
}

.visual-wrap {
  height: 550px;
  width: 100%;
  position: relative;
  /* overflow: hidden; */
}

.visual-wrap .img-slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.visual-wrap .img-slide a {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 550px;
  text-align: center;
}

.visual-wrap .img-slide a.active {
  display: inline-block;
}

.visual-wrap .img-slide a .title {
  margin-top: 180px;
  font-size: 52px;
  font-family: 'aritasm', 'Arita-buri-SemiBold', sans-serif;
}

.visual-wrap .img-slide a .sub-title {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -0.3px;
  color: #666;
  position: relative;
  margin-bottom: 40px;
}

.visual-wrap .img-slide a .sub-title:after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 1px;
  background: gray;
}

.visual-wrap .img-slide a time {
  font-size: 19px;
  letter-spacing: -0.3px;
}

.visual-wrap .img-slide a.one {
  background: url('../img/visual/visual01.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.visual-wrap .img-slide a.two {
  background: url('../img/visual/visual02.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.visual-wrap .img-slide a.three {
  background: url('../img/visual/visual03.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.visual-wrap .img-slide a.four {
  background: url('../img/visual/visual04.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.visual-wrap .slide-select-area {
  width: 960px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-45%);
}

.visual-wrap .slide-select-area ul {
  text-align: center;
  width: 85%;
  float: left;
}

.visual-wrap .slide-select-area ul li {
  float: left;
  box-sizing: border-box;
  width: 25%;
  height: 40px;
  line-height: 40px;
  background: #7f7e69;
  color: #fff;
  font-size: 17px;
}

.visual-wrap .slide-select-area ul li:hover,
.visual-wrap .slide-select-area ul li.active {
  background: #a1af1b;
  color: #fff;
  transition: all 0.5s;
}

.visual-wrap .slide-select-area ul li a {
  display: block;
}

.visual-wrap .btn-slide-state {
  float: right;
  width: 6%;
  /* width: 60px; */
  height: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border: none;
  margin-left: 60px;
}

.visual-wrap .btn-slide-state::after {
  content: '';
  background: url('../img/visual/btn_pause.png') no-repeat center;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.visual-wrap .btn-slide-state.start::after {
  content: '';
  background: url('../img/visual/btn-play.png') no-repeat center;
  width: 20px;
  height: 20px;
  display: inline-block;
}

/* ------ start - main ------ */


/* ------ start - weekly-best ------ */

.weekly-best .wrap {
  min-width: 1280px;
  height: 610px;
  margin: 100px auto;
  position: relative;
}

.weekly-best .review {
  width: 1400px;
  overflow: hidden;
}

.review-rank-container {
  counter-reset: item;
  list-style-type: none;
  overflow: hidden;
  font-size: 0;
  width: 100vw;
  text-align: center;
  height: 485px;
}

.review-rank-container li {
  display: block;
  position: relative;
  font-size: 15px;
  width: 240px;
  float: left;
}

.review-rank-container li+li {
  margin-left: 50px;
}

.review-rank-container li:before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  top: 10px;
  left: 15px;
  font-style: italic;
  font-family: '맑은 고딕';
  font-weight: bold;
  font-size: 2.5rem;
  color: #4d4d4d;
  z-index: 1;
}

.review-rank-container li:first-child:before {
  color: red;
}

.review-rank-container li .image-wrap {
  width: 100%;
  height: 270px;
  background: #f7f7f7;
  position: relative;
  box-sizing: border-box;
}

.review-rank-container li .image-wrap .detail.hidden {
  visibility: hidden;
}

.review-rank-container li .image-wrap .detail {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.8);
}

.review-rank-container li .image-wrap .detail a {
  position: relative;
  float: left;
  width: 120px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.review-rank-container li .image-wrap .detail a+a:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 1px;
  height: 20px;
  background: #fff;
}

.weekly-best .review h3,
.weekly-best .sales h3 {
  font-size: 22px;
  margin-bottom: 30px;
  letter-spacing: -0.3px;
  color: #67625d;
  cursor: pointer;
}

.weekly-best .wrap h3:hover {
  color: #000;
}

.weekly-best .review>h3::after {
  content: '';
  display: inline-block;
  margin: 0 25px;
  width: 2px;
  height: 17px;
  background: url('../img/border_2x17.png');
}

.weekly-best .wrap .active h3 {
  color: #748346;
}

.weekly-best .review .rate {
  font-size: 24px;
  margin: 10px 0;
  letter-spacing: -2px;
}

.weekly-best .review .item-title {
  font-size: 21px;
  margin: 20px 0;
  letter-spacing: -1px;
}

.weekly-best .review .review-content {
  height: 100px;
  border-top: 1px solid #d3d3d3;
  padding-top: 10px;
  color: #8b8b8b;
}

.weekly-best .review .review-content .review-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2em;
  height: 38px;
  text-align: left;
}

.weekly-best .review .review-content .write-info {
  padding-top: 10px;
}

.weekly-best .review .review-content .write-info .id {
  float: left;
  margin-left: 5px;
}

.weekly-best .review .review-content .write-info .date {
  float: right;
  margin-right: 5px;
}

.weekly-best .sales h3 {
  position: absolute;
  top: 82px;
  left: 120px;
}



/* progress Bar 공통 */

.progressBar {
  position: absolute;
  top: 100px;
  right: 200px;
  width: 540px;
  height: 3px;
  background: #efefef;
}

.progressBar .progress {
  position: absolute;
  top: 0;
  width: 20%;
  height: 3px;
  background: #000;
}

.sales-rank-container {
  position: absolute;
  top: 112px;
  display: none;
}


/* ------ md-pick - start------ */

.md-pick {
  height: 520px;
  margin: 100px auto;
  overflow: hidden;
}

.md-pick-left {
  width: 525px;
  height: inherit;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/md-pick/md-pick-bg.jpg') no-repeat center;
  background-size: cover;
}

.md-pick-left a {
  display: block;
  padding: 50px;
  color: #fff;
}

.md-pick-left a .sub-title {
  margin-top: 240px;
}

.md-pick-left a .title {
  margin: 20px 0;
  font-size: 34px;
}

.md-pick-left a .move {
  font-size: 18px;
}

.md-pick-left a .move img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  margin-left: 10px;
}

.md-pick-right {
  position: relative;
  float: right;
  width: 780px;
  height: 520px;
  overflow: hidden;
}

.md-pick-right .arrow-area {
  top: 30px;
}

.md-pick-right>p {
  margin: 20px 0 50px;
  font-size: 24px;
  font-weight: bold;
}

.md-pick-right>p>.point {
  color: red;
  margin-right: 20px;
}

.md-pick-right .md-pick-list {
  width: 80vw;
  height: 400px;
  overflow: visible;
}

.md-pick-right .md-pick-list li {
  float: left;
  width: 240px;
  height: 400px;
  text-align: center;
  margin-right: 50px;
}


.md-pick-right .md-pick-list li>img {
  background: #f7f7f7;
  width: 240px;
  height: 270px;
}

.md-pick-right .md-pick-list li .item-title {
  margin: 10px 0;
  height: 60px;
  font-size: 22px;
}

.md-pick-right .md-pick-list li .item-price {
  font-size: 20px;
  color: #383833;
}

.md-pick-right .progressBar {
  width: 100%;
  left: 0;
  top: 517px;
}

.md-pick-right .progressBar .progress {
  width: 33%;
}


/* ------ tea-ware-shop ------*/

.tea-ware-shop {
  height: 620px;
  margin: 100px auto;
  overflow: hidden;
  position: relative;
}

.tea-ware-shop-left {
  float: left;
  width: 320px;
}

.tea-ware-shop-left h2 {
  position: relative;
  margin: 50px 0 20px;
}

.tea-ware-shop-left .text {
  width: 90%;
  font-size: 18px;
  color: #6c6c6c;
}

.tea-ware-shop-left .move {
  margin-top: 30px;
  font-size: 20px;
}

.tea-ware-shop-right {
  float: right;
  width: 1050px;
  height: inherit;
  margin-top: 70px;
}

.tea-ware-shop-right .group1 {
  overflow: hidden;
  height: inherit;
}

.tea-ware-shop-right .group1 a:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.tea-ware-shop-right .group1 .left {
  float: left;
}

.tea-ware-shop-right .group1 .left .img-box {
  width: 580px;
  height: 250px;
  overflow: hidden;
}

.tea-ware-shop-right .group1 .left a {
  width: 580px;
  height: 250px;
  background: green;
  display: block;
}

.tea-ware-shop-right .group1 .left .img-box:first-child {
  margin-bottom: 50px;
}

.tea-ware-shop-right .group1 .left .img-box:first-child a {
  background: url("../img/teaWare/kinto.jpg") no-repeat center;
  background-size: cover;
}

.tea-ware-shop-right .group1 .left .img-box:nth-child(2) a {
  background: url("../img/teaWare/seoulbund.jpg") no-repeat center top;
  background-size: cover;
}

.tea-ware-shop-right .group1 .right .img-box {
  width: 440px;
  height: 550px;
  overflow: hidden;
  float: right;
}

.tea-ware-shop-right .group1 .right a {
  display: block;
  width: inherit;
  height: inherit;
  background: url("../img/teaWare/torim.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.tea-ware-shop .arrow-area {
  top: 10px;
  right: 30px;
}

.tea-ware-shop .progressBar {
  top: 30px;
}

.tea-ware-shop .progressBar .progress {
  width: 50%;
}


/* ------ today-price-start ------ */

.today-price {
  margin: 100px auto;
  height: 600px;
}

.today-price h2 {
  margin: 50px 0 20px;
}

.today-price>p {
  margin: 20px 0;
  font-size: 18px;
  color: #6c6c6c;
}

.today-price .today-price-content .top {
  width: 100%;
  height: 360px;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/today-price/today-price-bg.jpg') no-repeat;
  text-align: center;
  color: #fff;
  position: relative;
}

.today-price .today-price-content .top .timer {
  padding: 70px 0 20px;
  font-size: 48px;
}

.today-price .today-price-content .top .item-title {
  font-size: 22px;
}

.today-price .today-price-content .top .item-price {
  position: absolute;
  left: 59%;
  bottom: 20px;
  text-align: left;
}

.today-price .today-price-content .top .item-price::before {
  content: '';
  position: absolute;
  left: -125%;
  top: 10px;
  background: url('../img/today-price/today-item.png') no-repeat center;
  width: 200px;
  height: 200px;
}

.today-price .today-price-content .top .item-price .sale {
  font-size: 22px;
}

.today-price .today-price-content .top .item-price .price {
  font-size: 18px;
  color: #8b8b8b;
  text-decoration: line-through;
}

.today-price .today-price-content .top .item-price .t-price {
  font-weight: bold;
  font-size: 36px;
}

.today-price .today-price-content .top .tommorow-item-area {
  position: absolute;
  right: 20px;
  bottom: -50px;
  font-weight: lighter;
  color: #d3d3d3;
}

.today-price .today-price-content .bottom {
  width: 100%;
  height: 130px;
  background: #EDEDED;
}

.today-price .today-price-content .bottom .btn-buy {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 130px;
  height: 45px;
  vertical-align: 45px;
  background: #e1e1e1;
  padding-top: 10px;
  margin: 40px 0 0 59%;
}

.today-price .today-price-content .bottom .btn-buy:hover {
  background: #A1AF25;
  color: #fff;
  transition: all 0.5s;
}


/* ------ custom-recommendation - start ------ */

.custom-recommendation {
  margin: 100px auto;
  font-size: 0;
  overflow: hidden;
}

.custom-recommendation a {
  width: 685px;
  display: block;
  cursor: pointer;
  transition: all 0.5s;
}

.custom-recommendation a:hover {
  filter: opacity(80%);
}

.custom-recommendation .left-img {
  float: left;
}

.custom-recommendation .right-img {
  float: right;
}

/* ------ saleUp - start ------ */

.saleUp {
  margin: 100px auto;
}

.saleUp h2 {
  margin: 50px 0 20px;
}

.saleUp h2 strong {
  color: #758246;
}

.saleUp>p {
  margin: 20px 0;
  font-size: 18px;
  color: #6c6c6c;
}

.saleUp .image-area {
  overflow: hidden;
}

.saleUp .image-area>.left {
  float: left;
  width: 875px;
  height: 465px;
  background: skyblue;
  background: url('../img/saleUp/sale.jpg') no-repeat center;
  position: relative;
}

.saleUp .image-area>.left .text-area {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px 30px;
  overflow: hidden;
}

.saleUp .image-area>.left .text-area>.left {
  float: left;
}

.saleUp .image-area>.left .text-area>.left .item-title {
  font-size: 22px;
  margin-bottom: 12px;
}

.saleUp .image-area>.left .text-area>.left .date {
  font-size: 16px;
}

.saleUp .image-area>.left .text-area>.right {
  float: right;
  text-align: right;
  margin-right: 120px;
  position: relative;
}

.saleUp .image-area>.left .text-area>.right::after {
  content: 'D-5';
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50%;
  font-size: 32px;
}

.saleUp .image-area>.left .text-area>.right .price {
  text-decoration: line-through;
  font-size: 18px;
  color: #8b8b8b;
}

.saleUp .image-area>.left .text-area>.right .s-price span {
  font-size: 24px;
  margin-left: 5px;
  color: orange;
}

.saleUp .image-area>.right {
  float: right;
  width: 505px;
  height: 465px;
  background: pink;
}

.saleUp .image-area>.right .coupon-area {
  height: 340px;
  background: #F9F9F9;
  text-align: center;
  position: relative;
}

.saleUp .image-area>.right .coupon-area .coupon-text {
  padding: 50px 0 50px 70px;
  font-size: 20px;
  background: url('../img/saleUp/bg_ticket.gif') no-repeat center 25%;
  background-size: 286px 173px;
  color: #1db875;
}

.saleUp .image-area>.right .coupon-area .coupon-text span {
  font-size: 50px;
}

.saleUp .image-area>.right .percent-area {
  width: 100%;
  height: 125px;
  background: #E2E2E2;
  position: relative;
}

.saleUp .image-area>.right .percent-area .percent {
  width: 12%;
  height: inherit;
  background: #B3DF86;
}

.saleUp .image-area>.right .percent-area .number {
  z-index: 10;
  position: absolute;
  top: 0;
}

.saleUp .image-area>.right .percent-area .number span {
  margin-left: 65px;
  position: relative;
  color: #ababab;
}

.saleUp .image-area>.right .percent-area .number span::after {
  content: '';
  display: inline-block;
  background: url('../img/saleUp/leaf_1.png') no-repeat bottom;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 0;
}

.saleUp .image-area>.right .percent-area .number span:nth-child(1)::after,
.saleUp .image-area>.right .percent-area .number span:nth-child(3)::after,
.saleUp .image-area>.right .percent-area .number span:nth-child(5)::after {
  background: url('../img/saleUp/leaf_2.png') no-repeat center;
  width: 69px;
  height: 79px;
  top: -79px;
  left: -20px;
}

.saleUp .image-area>.right .percent-area .number span:nth-child(3)::after {
  background: url('../img/saleUp/leaf_3.png') no-repeat center;
}

.saleUp .image-area>.right .percent-area .number span:nth-child(5)::after {
  background: url('../img/saleUp/leaf_6.png') no-repeat center;
}


/* ------ shop-start ------ */

.shop {
  width: 1400px;
  margin: 100px auto;
  height: 1400px;
}

.shop h2 {
  margin: 50px 0 20px;
}

.shop>p {
  margin: 20px 0;
  font-size: 18px;
  color: #6c6c6c;
}

.shop .slide-area {
  margin-bottom: 30px;
}

.shop .slide-area .top {
  height: 525px;
  background: #000;
  overflow: hidden;
}

.shop .slide-area .top ul {
  width: 100vw;
  font-size: 0;
  position: relative;
}

.shop .slide-area .top ul::before,
.shop .slide-area .top ul::after {
  content: '';
  position: absolute;
  width: 237px;
  height: 525px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.shop .slide-area .top ul::after {
  top: 0;
  left: 1163px;
}

.shop .slide-area .top>ul>li {
  display: inline-block;
  width: 927px;
}

.shop .slide-area .top>ul>li img {
  width: 927px;
  display: inline-block;
}

.shop .slide-area .top li:first-child {
  margin-left: -690px;
}

.shop .bottom {
  box-sizing: border-box;
  width: 1400px;
  height: 95px;
  background: #000;
  padding: 0 200px;
  position: relative;
}

.shop .bottom .shop-list {
  height: inherit;
  overflow: hidden;
}

.shop .bottom .shop-list li {
  float: left;
  white-space: nowrap;
  color: #767676;
  width: 250px;
  height: 95px;
  line-height: 95px;
  text-align: center;
  font-size: 20px;
}

.shop .bottom .shop-list li.active {
  color: #fff;
}

.shop .arrow-area {
  position: absolute;
  width: 1300px;
  height: 21px;
  top: 40px;
  right: 50px;
}

.shop .bottom .prev {
  left: 100px;
  top: 0;
  filter: invert(80%);
}

.shop .bottom .next {
  right: 0;
  filter: invert(80%);
}

.shop .bottom .prev:hover,
.shop .bottom .next:hover {
  right: 0;
  filter: invert(100%);
}

/* item-list */

.shop .item-list {
  position: relative;
  height: 600px;
}

.shop .item-list h3 {
  position: absolute;
  top: 0;
  right: 255px;
  font-size: 18px;
  color: #8b8b8b;
}

.shop .item-list .bestseller h3 {
  position: absolute;
  top: 0;
  right: 135px;
}

.shop .item-list .sale h3 {
  position: absolute;
  top: 0;
  right: 15px;
}

.shop .item-list .active h3 a.active {
  position: relative;
  color: #748346;
  border-bottom: 3px solid #748346;
  padding-bottom: 11px;
  z-index: 1;
}

.shop .item-list ul {
  width: 100%;
  border-top: 2px solid #ececec;
  position: absolute;
  top: 40px;
  padding-top: 30px;
  overflow: hidden;
}

.shop .item-list ul li {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding-left: 20px;
  height: 500px;
  display: none;
  font-size: 20px;
}

.shop .item-list ul li+li {
  border-left: 2px solid #f6f6f6;
}

.shop .item-list .active ul li {
  display: inline-block;
}

.shop .item-list ul li .item-title {
  color: #555;
  margin-bottom: 20px;
}

.shop .item-list ul li .item-price {
  margin-bottom: 20px;
}

.shop .item-list ul li div {
  color: #8b8b8b;
}

.shop .item-list ul li div .heart,
.shop .item-list ul li div .review {
  position: relative;
  margin-left: 30px;
}

.shop .item-list ul li div .heart {
  margin-right: 30px;
}

.shop .item-list ul li div .heart::before,
.shop .item-list ul li div .review::before {
  content: '';
  position: absolute;
  left: -27px;
  top: 5px;
  background: url('../img/shop/ico_like.gif');
  width: 23px;
  height: 21px;
}

.shop .item-list ul li div .review::before {
  background: url('../img/shop/ico_comment.gif');
}


.shop .item-list ul li .item-title.best {
  position: relative;
}

.shop .item-list ul li img {
  margin: 0 0 30px 20px;
}

.shop .item-list ul li .item-title.best::before {
  content: 'BEST';
  position: absolute;
  top: -20px;
  width: 40px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background: #A89079;
  color: #fff;
}

.shop .btn-all-item-view {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  margin: 30px 0;
}

.shop .btn-all-item-view::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 55.5%;
  transform: translateY(-50%);
  background: url('../img/md-pick/arr_42x12.png');
  width: 42px;
  height: 12px;
}

/* ------ sns - start ------ */

.sns {
  margin: 50px auto 0;
}

.sns h3 {
  color: #757575;
  font-size: 20px;
  position: relative;
  margin-bottom: 20px;
}

.sns h3 span {
  position: absolute;
  font-family: 'aritasm', 'Arita-buri-SemiBold', sans-serif;
  left: 100px;
  top: -5px;
  color: #505051;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -3px;
}

.sns ul {
  overflow: hidden;
}

.sns li {
  float: left;
  transition: all 0.5s;
}

.sns li:hover {
  filter: opacity(0.8);
}

.sns img {
  width: 230px;
  display: block;
}


/* ------ notice - start ------ */

.notice {
  background: #67625d;
  height: 60px;
}

.notice .wrap {
  color: #fff;
  position: relative;
  height: inherit;
}

.notice .wrap h2 {
  display: inline-block;
  position: relative;
  font-size: 14px;
  margin-right: 15px;
  line-height: 60px;
}

.notice .wrap h2::after {
  content: '|';
  position: absolute;
  top: -1px;
  width: 1px;
  height: 3px;
  margin-left: 5px;
}

.notice .wrap ul {
  display: inline-block;
  height: 16px;
  overflow: hidden;
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.notice .wrap ul li {
  letter-spacing: -0.3px;
}

.notice .view-more {
  position: absolute;
  top: 50%;
  left: 500px;
  transform: translateY(-50%);
  font-size: 12px;
  line-height: 60px;
}

.notice .sns-icon {
  float: right;
  margin: 12px 30px 0 0;
}

.notice .sns-icon .instagram {
  margin-left: 15px;
}

/* ------ footer - start ------*/

footer .top {
  background: #fafafa;
}

footer .escrow {
  border: 1px solid #555;
}

footer .top .wrap {
  overflow: hidden;
  padding: 30px 0;
}

footer .top .wrap .left {
  float: left;
  /* overflow: hidden; */
}

footer .top .wrap .left>div {
  float: left;
  color: #8b8b8b;
}

footer .top .wrap .left .tel1 {
  margin-right: 100px;
}

footer .top .wrap .left .tel1 p:first-child,
footer .top .wrap .left .tel2 p:first-child {
  font-size: 14px;
  margin-bottom: 5px;
}

footer .top .wrap .left a {
  font-size: 32px;
  font-weight: 400;
  color: #555555;
}

footer .top .wrap .left .tel2 a {
  font-size: 18px;
  text-decoration: underline;
  color: #555555;
  font-weight: 600;
  letter-spacing: -1px;
}

footer .top .wrap .left .tel2 p:nth-of-type(2) {
  font-size: 11px;
  font-weight: bold;
  margin-top: 3px;
}

footer .top .wrap .left p:last-child {
  font-size: 10px;
  margin-top: 5px;
}


footer .top .wrap .icon {
  float: right;
  height: 80px;
  padding: 10px 0 10px 30px;
  border-left: 1px solid #e1e1e1;
}


footer .top .wrap .icon a {
  display: inline-block;
  height: 80px;
  width: 80px;
  text-align: center;
}

footer .top .wrap .icon a+a {
  margin-left: 30px;
}

footer .top .wrap .icon a img {
  display: block;
  height: 40px;
  margin: 0 auto 10px;
}


footer .bottom .wrap {
  box-sizing: border-box;
  padding: 30px 330px 30px 150px;
  position: relative;
  font-size: 11px;
}

footer .bottom .wrap .footer-logo {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

footer ul {
  overflow: hidden;
}

footer ul li {
  float: left;
  position: relative;
  margin-right: 20px;
}

footer ul li strong {
  font-weight: bold;
}

footer ul li+li::before {
  content: '|';
  position: absolute;
  left: -10px;
}

footer .company-info {
  margin: 10px 0;
  color: #8b8b8b;
  line-height: 1.5;
}

footer .company-info a {
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  height: 24px;
  border: 1px solid #e1e1e1;
  text-align: center;
  background: #fafafa;
  margin-left: 5px;
  color: #555555;
  padding-top: 2px;
}

footer .company-info address {
  display: inline;
}

footer .message {
  color: #8b8b8b;
  line-height: 1.5;
}

footer .escrow {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 320px;
  border: 1px solid #e1e1e1;
  padding: 10px 20px;
  color: #8b8b8b;
}

footer .escrow dt {
  margin-bottom: 10px;
}

footer .escrow dd {
  display: inline-block;
}

footer .escrow dd:first-child {
  float: left;
}

footer .escrow dd:last-child {
  float: right;
  width: 220px;
  word-break: keep-all;
}

/* top button */
.btn-top {
  position: fixed;
  right: 10px;
  bottom: 35px;
}

.btn-top.hidden {
  right: -100px;
}